@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html > body {
    font-family: "Pretendard-Regular";
}

#counter-container {
    background-color: #ffffff;
    padding: 10px;
    display: inline-block;
}

#toggle-button {
    background-color: #ffffff;
    color: #6c757d;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s;
}

#counter {
    margin-top: 10px;
    font-size: 24px;
    color: #6c757d; /* 초기 숫자 색상*/
    /*transition: color 0.3s;*/
}

#heart-icon {
    color: #6c757d; /* 초기 하트 색상 */
    /*transition: color 0.3s;*/
}

#toggle-button:hover {
    background-color: none; /* 버튼에 호버 효과 추가 */
}

#toggle-button.clicked {
    color: #d9534f; /* 클릭 시 버튼 색상을 빨간색으로 변경 */
}

#toggle-button.clicked #heart-icon {
    color: #d9534f; /* 클릭 시 하트 색상을 빨간색으로 변경 */
}