<nav th:fragment="navbarFragment" class="navbar bg-base-100 d-flex">
  <div>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a sec:authorize="isAnonymous()" th:href="@{/member/login}"><i class="fa-solid fa-right-from-bracket"></i> 로그인</a></li>
        <li><a sec:authorize="isAuthenticated()" th:href="@{/member/logout}"><i class="fa-solid fa-right-from-bracket"></i> 로그아웃</a></li>
        <li><a sec:authorize="isAnonymous()" th:href="@{/member/join}"><i class="fa-solid fa-user-plus"></i>회원가입</a></li>
      </ul>
    </div>
  </div>
  <div>
    <a href="/" class="btn btn-ghost text-xl">Medium</a>
  </div>
  <div>
      <button>
        <a sec:authorize="isAuthenticated()" th:href="@{/post/create}" class="badge badge-outline p-3">글 쓰기</a>
      </button>
    <button class="ms-2">
      <i class="fa-solid fa-circle-user fa-2xl" sec:authorize="isAuthenticated()"></i>
    </button>
  </div>
</nav>