<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-5">
  <div class="d-flex justify-content-center">
    <div class="justify-content-start" style="width: 700px">
      <button class="click mr-2">
        <a th:href="@{/post/list}">
          전체 글
        </a>
      </button>
      <button class="click">
        <a th:href="@{/post/new}">
          최신 글
        </a>
      </button>
    </div>
  </div>
  <!--    <div class="flex justify-content-center">-->
  <!--    <div class="flex justify-content-end" style="width: 680px">-->
  <!-- 검색기능 -->
  <!--        <div class="join">-->
  <!--            <div>-->
  <!--                <div style="width: 200px;">-->
  <!--                    <input class="input input-bordered join-item" placeholder="Search"/>-->
  <!--                </div>-->
  <!--            </div>-->
  <!--            <select class="select select-bordered join-item custom-select" style="width: 100px">-->
  <!--                <option disabled selected>Filter</option>-->
  <!--                <option >제목</option>-->
  <!--                <option >내용</option>-->
  <!--                <option >제목+내용</option>-->
  <!--                <option >제목+내용+작성자</option>-->
  <!--            </select>-->
  <!--            <select class="select select-bordered join-item" style="width: 100px;">-->
  <!--                <option disabled selected>Filter</option>-->
  <!--                <option>최신순</option>-->
  <!--                <option>오래된순</option>-->
  <!--                <option>조회수 높은순</option>-->
  <!--                <option>조회수 낮은순</option>-->
  <!--            </select>-->
  <!--            <div class="indicator">-->
  <!--                <button class="btn join-item" style="height: 30px">찾기</button>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--    </div>-->
  <div class="flex flex-column align-items-center">
    <div class="mycards" th:each="post, loop : ${newlist}">
      <a th:href="@{|/post/detail/${post.id}|}">
        <div class="card bg-base-100 hover:bg-yellow-50 mt-3" style="width: 700px" th:if="${post.isPublished() == false}">
          <div class="card-body py-3">
            <div class="flex justify-content-between">
              <h1 class="text-2xl"><p th:text="${post.subject}"></p></h1>
              <div class="flex">
                <h1><i th:if="${post.isPublished() == true}" class="fa-solid fa-lock mr-2"></i></h1>
                <h1><i th:if="${post.isPaid() == true}" class="fa-solid fa-user-lock"></i></h1>
              </div>
            </div>
            <h1 class="badge badge-outline text-sm mb-3 "><p th:if="${post.author != null }" th:text="${post.author.username}"></p></h1>
            <p class="text-gray-400">
              <span th:utext="${@commonUtil.markdown(#strings.abbreviate(post.content, 250))}"></span>
            </p>
            <footer class="flex justify-content-between border-top mt-3">
              <div>
                <!--좋아요 수-->
                <i class="fa-solid fa-heart text-red-500"></i>
                <span class="text-sm text-black-500" th:if="${#lists.size(post.voter)>0}"
                      th:text="${#lists.size(post.voter)}"></span>
                <!--댓글 수-->
                <i class="fa-regular fa-comment ms-1"></i>
                <span class="text-sm text-black-500" th:if="${#lists.size(post.commentList)>0}"
                      th:text="${#lists.size(post.commentList)}"></span>
                <!--조회수-->
                <i class="fa-solid fa-eye ms-1" style="color: dimgray"></i>
                <span class="text-sm text-black-500" th:if="${post.viewCount > 0}"
                      th:text="${post.viewCount}"></span>
              </div>
              <div>
                <div class="justify-content-between" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
              </div>
            </footer>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
</html>
