<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="grid grid-cols-3 gap-3">
        <div class="mycards" th:each="post : ${postList}">
            <div class="card card-compact w-auto bg-base-100 shadow-xl">
                <figure><img src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
                <div class="card-body">
                        <h2 class="text-lg"><a th:href="@{|/post/detail/${post.id}|}" th:text="${post.subject}"></a></h2>
                        <p th:text="${post.content}"></p>
                        <footer class="flex justify-content-between border-top">
                        <div>
                            <!--좋아요 수-->
                            <i class="fa-solid fa-heart text-red-500"></i>
                            <span class="text-sm text-black-500" th:if="${#lists.size(post.commentList)>0}"
                              th:text="${#lists.size(post.commentList)}"></span>
                            <!--댓글 수-->
                            <i class="fa-regular fa-comment ms-1"></i>
                            <span class="text-sm text-black-500" th:if="${#lists.size(post.commentList)>0}"
                                  th:text="${#lists.size(post.commentList)}"></span>
                            <!--조회수-->
                            <i class="fa-solid fa-eye ms-1" style="color: dimgray"></i>
                        </div>
                        <div>
                            <div class="justify-content-between" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        </footer>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
